body {
    margin: 0;
    font-family: serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #002a4a;
}

input {
    display: block;
    margin: 0 auto;
}

.image-preview {
    position: fixed;
    justify-content: center;
    left: 50%;
    height: auto;
    z-index: 200;
    display: flex;
    transform: translateX(-50%);
}


.image-preview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* 月ごとのアップロードセクション */
#id {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#id input[type="file"] {
    margin-top: 10px;
}

/* 正方形 */
.square {
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
}

.square img {
    height: auto;
    margin: 0px;
    flex-wrap: wrap;
}

/* ボタンエリア */
.viewbutton {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    z-index: 100;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
}

/* 戻るボタン、進むボタンのスタイル */
.viewbutton .prev-btn,
.viewbutton .next-btn,
.viewbutton #generatePdfButton {
    font-family: serif;
    border: none;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 戻るボタン */
.viewbutton .prev-btn {
    background-color: #f44336;
    color: white;
    position: absolute;
    left: 1vw;
}

.viewbutton .prev-btn:hover {
    background-color: #e53935;
}

/* 進むボタン */
.viewbutton .next-btn {
    background-color: #4CAF50;
    color: white;
}

.viewbutton .next-btn:hover {
    background-color: #45a049;
}

/* 生成ボタン */
.viewbutton #generatePdfButton {
    background-color: #2196F3;
    color: white;
    display: none;
}

.viewbutton #generatePdfButton:hover {
    background-color: #1e88e5;
}

.viewbutton .next-btn:only-child {
    position: absolute;
    right: 0;
}

/* エラーボックス */
.error-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #5296c9;
    text-align: center;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

.error-box p {
    font-weight: bold;
}

.error-box button {
    background-color: white;
    color: black;
    border: none;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    bottom: 1vw;
    left: 50%;
    transform: translateX(-50%);
}

.error-box button:hover {
    background-color: rgb(40, 40, 40);
    color: white;
}
/* 終了 */
#fin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: none;
    background-color: #5296c9;
    justify-content: center;
    align-items: center;
}


/* オーバーレイ */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.646);
    display: none;
    z-index: 9999;
}

/* PC */
@media (min-width: 993px) {
    .image-preview {
        width: 45vw;
        bottom: 5vw;
    }

    .viewbutton {
        width: 100%;
        height: 6vw;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 1vw;
    }

    .viewbutton .prev-btn,
    .viewbutton .next-btn,
    .viewbutton #generatePdfButton {
        width: 12vw;
        height: 4vw;
        font-size: 24px;
        border-radius: 2vw;
    }

    .square img {
        width: 4.5vw;
    }

    .error-box {
        width: 40vw;
        height: 20vh;
        border-radius: 1vw;
        padding: 2vw;
    }

    .error-box p {
        font-size: 1.5vw;
    }

    .error-box button {
        font-size: 1.5vw;
        padding: 0.5vw 2vw;
        border-radius: 1vw;
    }
}

/*スマホタブレット*/
@media (max-width: 992px) {
    .image-preview {
        width: 100vw;
        bottom: 11vw;
    }

    .square {
        display: none;
    }

    .viewbutton {
        width: 95%;
        height: 10vw;
        bottom: 0.5vw;
        left: 50%;
        transform: translateX(-50%);
        padding: 0;
    }

    .viewbutton .prev-btn,
    .viewbutton .next-btn,
    .viewbutton #generatePdfButton {
        padding: 0;
        width: 48%;
        height: 10vw;
        font-size: 24px;
        border-radius: 23vw;
    }

    .error-box {
        width: 80vw;
        height: 20vh;
        border-radius: 5vw;
        padding: 2vw;
    }

    .error-box p {
        font-size: 4.5vw;
    }

    .error-box button {
        font-size: 7vw;
        padding: 0.5vw 2vw;
        border-radius: 1vw;
    }
}
