body {
    margin: 0;
    font-family: serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    margin-top: 20px;
    color: #002a4a;
}

#rule {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.rule-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    max-width: 600px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rule h3 {
    margin-bottom: 10px;
    text-align: center;
}

.scroll {
    max-height: 300px;
    overflow-y: auto;
    border: solid 1px #777;
    padding: 10px;
    width: 100%;
}

.scroll p {
    margin: 0;
}

.rulebuttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

#rule button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 45%;
    text-align: center;
}

#rule button:first-of-type {
    background: #ccc;
    color: black;
}

#rule button:last-of-type {
    background: #5296c9;
    color: #fff;
}

#typeselect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
    background-color: rgba(82, 150, 201, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}

#typeselect h1 {
    color: white;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

#typeselect .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    text-align: center;
}

#typeselect .option div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#typeselect input[type="radio"] {
    margin-right: 10px;
}

#typeselect img {
    max-width: 180px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.close-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 40px;
    color: white;
    background-color: #e74c3c;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, background-color 0.3s ease;
}

.close-btn:hover {
    background-color: #c0392b;
    transform: scale(1.1);
}

.close-btn:active {
    transform: scale(0.9);
}

header {
    width: 100%;
    background-color: #5296c9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
}

header h2 {
    margin: 0;
    font-weight: bold;
}

header a {
    color: black;
    text-decoration: none;
}

header h1 {
    margin: 0;
    color: black;
}

input[type="file"] {
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.image-preview {
    position: fixed;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

.image-preview img {
    width: 100%;
    height: auto;
}



#standtypeselect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
    background-color: rgb(82, 149, 201);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}

#standtypeselect h1 {
    color: white;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

#standtypeselect .standoption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    text-align: center;
}

#standtypeselect .standoption div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#standtypeselect input[type="radio"] {
    margin-right: 10px;
}

#standtypeselect img {
    max-width: 180px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.standshow {
    display: none;
}
.standshow img{
    position: fixed;
}
#standshow{
    position: fixed;
}
#generatePdfButton{
    position: fixed;
    bottom: 0;
    left: 0;
    border: none;
    background-color: #004172;
    color: white;
    font-family: serif;
}
.viewbutton {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #5296c9;
    display: flex;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    justify-content: space-between;
}

.viewbutton button {
    height: 100%;
    border: none;
    border-radius: 0;
    color: white;
    font-family: serif;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    width: 30%;
}

.viewbutton .next-btn,
.viewbutton #tostand {
    background-color: #004172;
}

.viewbutton .prev-btn {
    background-color: #6a6a6a;
}

.viewbutton .opentype {
    background-color: #193a53;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.viewbutton>button:not(.opentype) {
    position: absolute;
}

.viewbutton>.prev-btn {
    left: 0;
}

.viewbutton>.next-btn,
.viewbutton>#tostand {
    right: 0;
}

.error-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #5296c9;
    text-align: center;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

.error-box p {
    font-weight: bold;
}

.error-box button {
    background-color: white;
    color: black;
    border: none;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    bottom: 1vw;
    left: 50%;
    transform: translateX(-50%);
}

.error-box button:hover {
    background-color: rgb(40, 40, 40);
    color: white;
}

#fin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: none;
    background-color: #5296c9;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.646);
    display: none;
    z-index: 9999;
}

@media (min-width: 993px) {
    header {
        height: 6vw;
        padding: 5px 10px;
    }

    header h2 {
        font-size: 20px;
    }

    header h1 {
        margin: 0;
        font-size: 32px;
        color: black;
    }

    .image-preview {
        width: 45vw;
        bottom: 6vw;
    }

    .viewbutton {
        height: 6vw;
    }

    .viewbutton button {
        font-size: 1.5vw;
    }

    .viewbutton .next-btn,
    .viewbutton .prev-btn,
    .viewbutton #tostand {
        width: 15vw;
    }

    .viewbutton .opentype {
        width: 20vw;
    }

    .standshow img{
        top: 0;
        right: 0;
        height: 100vh;
    }
    #standshow{
        top: 3vw;
        left: 25%;
        transform: translateX(-25%);
    }
    #generatePdfButton{
        width: 50vw;
        height: 5vw;
        font-size: 3vw;
    }
    .error-box {
        width: 40vw;
        height: 20vh;
        border-radius: 1vw;
        padding: 2vw;
    }

    .error-box p {
        font-size: 1.5vw;
    }

    .error-box button {
        font-size: 1.5vw;
        padding: 0.5vw 2vw;
        border-radius: 1vw;
    }
}

@media (max-width: 992px) {

    #typeselect {
        padding: 10px;
    }

    #typeselect img {
        max-width: 150px;
    }

    #typeselect h1 {
        font-size: 1.2em;
    }

    .close-btn {
        top: 10px;
        right: 10px;
    }

    .rule-content {
        width: 80%;
    }

    .error-box {
        width: 80vw;
        height: 20vh;
        border-radius: 5vw;
        padding: 2vw;
    }

    .error-box p {
        font-size: 4.5vw;
    }

    .error-box button {
        font-size: 7vw;
        padding: 0.5vw 2vw;
        border-radius: 1vw;
    }

    header {
        height: 15vw;
        padding: 5px 10px;
    }

    header h2 {
        display: none;
    }

    header h1 {
        margin: 0;
        font-size: 4.5vw;
        color: black;
    }

    .image-preview {
        width: 100vw;
        bottom: 15vw;
    }

    .viewbutton {
        height: 15vw;
    }

    .viewbutton .next-btn,
    .viewbutton .prev-btn {
        font-size: 8vw;
        width: 33vw;
    }

    .viewbutton #tostand {
        font-size: 5vw;
        width: 33vw;
    }

    .viewbutton .opentype {
        font-size: 4vw;
        width: 33vw;
    }

    .standshow img{
        bottom: 15vw;
        left: 50%;
        transform: translateX(-50%);
        height: 70vh;
    }
    #standshow{
        top: 15vw;
        left: 50%;
        transform: translateX(-50%);
    }
    #generatePdfButton{
        width: 100vw;
        height: 15vw;
        font-size: 8vw;
    }
}